:root {
  --font: #03256c;
  --highlights: #0e9594;
  --title: #2541b2;
}

/*
Farben: 
#03256C
#2541B2
#F5DFBB
#0E9594
#127475
*/

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: "Inter", sans-serif;
  background-color: #f5dfbb;
  color: var(--font);
  font-weight: 700;
  font-size: 20px;
}

.box {
  border: var(--highlights) solid 1px;
  height: 100%;
  width: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.data {
  padding: 5% 0;
}

#city {
  color: var(--title);
  font-size: 50px;
}
